body {
  background-image: url(https://st2.depositphotos.com/1106005/10175/i/950/depositphotos_101752020-stock-photo-brown-doggy-tile-pattern-repeat.jpg);
  background-size: 20%;
}

h2 {
  text-align: center;
  color: #ffcc00;
}

div {
  color: #ffffff;
}
